@import '../../utils/variables.scss';

.wrapper{
  max-width: 1080px;
  margin: 0 auto;
  .conteiner{
    max-width: 1080px;
    margin: 0 auto;
    background-color: $Backgraund;
    box-shadow: 0 0 17px 0 $Shadow;
    padding: 0 15px 25px 15px;
    min-height: 100vh;
    img {
      margin: 0 auto;
      height: 100px;
      padding-top: 40px;
    }
    .field {
      width: 100%;
    }
    
  }
}