@import '../../utils/variables.scss';

.playing_field {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  .player {
    position: absolute;
    left: 94px;
    top: -84px;
  }
  .move {
    text-align: center;
    margin-bottom: 20px;
  }
  .field {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}